.welcome-container {
  margin: auto;
  /* margin-top: 4rem; */
}

.absolute-phone-position {
  position: absolute;
  z-index: 1;
  right: -4%;
  bottom: -9%;
}
.welcome-container button {
  background-color: #000;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
}
.welcome-container button i {
  margin-right: 5px;
}
