.crypto-container {
  margin: auto;
  display: flex;
  align-items: center;
  /* margin-top: 2rem; */
  position: relative;
}

.no-right-animate {
  visibility: hidden;
  flex: 0.6;
  display: flex;
  align-items: center;
  justify-content: center;
  /* animation: 2s ease-in-out normal animateCardDown; */
}

.right-animate {
  flex: 0.6;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: 1s ease-in-out normal animateCard forwards;
}
.crypto-container .left {
  flex: 0.4;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  /* animation: 1s ease-in-out normal animateCard forwards; */
}
.left-animate {
  flex: 0.4;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.left-inner-from-up {
  /* width: 60%; */
  /* flex: 0.4;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative; */
  width: 60%;
  flex: 0.4;
  animation: 1s ease-in-out normal animateLeftToTop forwards;
}
.left-inner-from-down {
  width: 60%;
  flex: 0.4;
  animation: 1s ease-in-out normal animateLeftToDown forwards;
}
.crypto-container .top-p {
  color: #f33bea;
}
.crypto-container button {
  background-color: #000;
  color: #fff;
  border: none;
  outline: none;
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
  border-radius: 4px;
  /* width: 0; */
}
@media screen and (max-width: 900px) {
  .crypto-container {
    flex-direction: column;
  }
}

@keyframes animateCard {
  from {
    transform: translate(-100%, 100%);
    left: 0;
    /* display: none; */
    visibility: hidden;
  }
  to {
    transform: translate(0%, 0%);
    left: 100%;
    /* display: block; */
    visibility: visible;
  }
}
@keyframes animateCardDown {
  from {
    transform: translate(0%, 0%);
    left: 100%;
  }
  to {
    transform: translate(-100%, 100%);
    left: 0%;
    display: none;
  }
}
@keyframes animateLeftToTop {
  from {
    transform: translate(0%, -100%);
    visibility: visible;
    /* left: 100%; */
  }
  to {
    transform: translate(0%, -100%);
    visibility: hidden;
  }
}
@keyframes animateLeftToDown {
  from {
    transform: translate(0%, 100%);
    visibility: hidden;
    /* left: 100%; */
  }
  to {
    transform: translate(0%, -0%);
    visibility: visible;
  }
}
