.exchange-container {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  animation: 1s ease-in-out normal animateExchageUp forwards;
}
.no-exchange-animate {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  animation: 1s ease-in-out normal animateExchageDown forwards;
}
.exchange-container .left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.exchange-container .right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.exchange-container .right .right-inner {
  width: 60%;
}
.right-inner .top-p {
  color: #f33bea;
}
.right-inner button {
  background-color: #000;
  color: #fff;
  border: none;
  outline: none;
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
  border-radius: 4px;
}
@media screen and (max-width: 900px) {
  .exchange-container {
    flex-direction: column;
  }
}

@keyframes animateExchageUp {
  from {
    transform: translate(0%, 100%);
    visibility: hidden;
    opacity: 0;
  }
  to {
    transform: translate(0%, -10%);
    visibility: visible;
    opacity: 1;
  }
}
@keyframes animateExchageDown {
  from {
    transform: translate(0%, 50%);
    visibility: visible;
    opacity: 1;
  }
  to {
    transform: translate(0%, 100%);
    visibility: hidden;
    opacity: 0;
  }
}
