::-webkit-scrollbar {
  display: none;
}
.home {
  margin: auto;
  border-radius: 10px;
  height: 550px;
  width: 80vw;
  display: flex;
  background: linear-gradient(
    to right top,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #f1eaf3,
    #ffffff,
    #e5d0eb
  );
  background-position: 100% 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}
.home .main {
  width: 75%;
  margin-left: 22.5%;
  margin-right: 2.5%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

#exchange {
  margin: 4rem 0rem;
}

#welcome,
#cryptobank,
#exchange {
  margin-top: 2rem;
}
.home .main .main-inner {
  position: relative;
}
