@font-face {
  font-family: "Axiforma Light";
  src: url("./font/Axiforma-Light.eot");
  src: url("./font/Axiforma-Light.eot?#iefix") format("embedded-opentype"),
    url("./font/Axiforma-Light.woff") format("woff"), url("./font/Axiforma-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Axiforma Regular";
  src: url("./font/Axiforma-Regular.ttf");
  src: url("./font/Axiforma-Regular.eot") format("embedded-opentype"),
    url("./font/Axiforma-Regular.woff") format("woff"), url("./font/Axiforma-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Axiforma Bold";
  src: url("./font/Axiforma-Heavy.eot");
  src: url("./font/Axiforma-Heavy.eot?#iefix") format("embedded-opentype"),
    url("./font/Axiforma-Heavy.woff") format("woff"), url("./font/Axiforma-Heavy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

  /* set defaults */
  --surface2: var(--surface2-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
}

html {
  --brand-hue: 500;
  --brand-light: hsl(var(--brand-hue) 50% 100%);
  --surface2-light: hsl(var(--brand-hue) 20% 99%);
  --surface-shadow-light: var(--brand-hue) 10% 20%;
  --shadow-strength-light: 0.05;
}
html,
body {
  font-size: 1rem;
  background-color: rgb(221, 220, 220);
  font-family: "Axiforma Regular";
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}
